.button {
    height: 25px;
    width: 130px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #737681;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #999;
    margin: 10px;
}

.button:hover {
    background-color: #4a5057;
}

.button:active {
    background-color: #b8b9bd;
    box-shadow: 0 4px #a69e9e;
    transform: translateY(4px);
    color: #3b3802;
}

.button:disabled {
    background-color: #979b9f;
    cursor: default;
}

.button:disabled:hover {
    background-color: #979b9f;
}

.buttonRed {
    height: 25px;
    width: 130px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #7a2033;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #999;
    margin: 10px;

}

.buttonRed:hover {
    background-color: #a90808
}

.buttonRed:active {
    background-color: #b8b9bd;
    box-shadow: 0 4px #a69e9e;
    transform: translateY(4px);
    color: #3b3802;
}