.span {
    display: inline-block;
    margin: 14px;
    width: auto;
    background-color: rgba(215, 215, 229, 0.85);
    padding-left: 20px;
}

.span img {
    width: 30px;
    margin-right: 10px;
}

.superInput {
    /*width: 200px;*/
    /*padding: 8px 20px;*/
    /*margin: 8px 0;*/
    /*border: 1px solid #ccc;*/
    /*border-radius: 4px;*/
    width: 347px;
    height: 27px;
    border: none;
    border-bottom: 2px solid #24254A;
    opacity: 0.2;
    margin-bottom: 24px;
    outline: none;

    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}